:root {
  --primary: #d14d39;
  --primary-text: #ffffff;
  --secondary: #000000;
  --secondary-text: #000000;
  --link-text: #0c58e7;
  --accent: rgba(0, 0, 0, 0);
  --accent-text: #000000;
  --disabledButton: #64646442;
}

